body {
  background-color: #212121;
  color: #ffffff;
}

header {
  background-color: #424242;
  padding: 20px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  color: #ffffff;
}

main {
  padding: 20px;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5em;
}

a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  background-color: #212121;
  padding: 20px;
}

a.call-to-action {
  background-color: #1482f0;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  border-radius: 3px;
}

a.call-to-action:hover {
  background-color: #0055c0;
}